<div class="container text-center mx-auto">
  <div class="row">
  
    <div class="col-sm-4 offset-md-4 mb-5">
    <div>管理者ログイン</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 offset-md-3">
    <%= form_with model: @admin, url: admin_session_path do |f| %>
    
    <div class="field row mb-4">
      <%= f.label :メールアドレス, class: "col-md-4 " %>
      <%= f.email_field :email, class: "col-md-4", placeholder:"メールアドレス", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field row mb-4">
      <%= f.label :パスワード, class: "col-md-4" %>
      <%= f.password_field :password, class: "col-md-4", placeholder:"パスワード", autocomplete: "current-password" %>
    </div>
    <br>
    <div class="actions row">
      <div class="col-4"></div>
      <%= f.submit "Log in", class:"btn btn-secondary col-md-2" %>
    </div>
    <% end %>
    </div>
    
  </div>
</div>


<!--<div class="container text-center mx-auto">-->
<!--  <div class="row">-->
  
<!--    <div class="col-2 offset-md-2 mb-5">-->
<!--      <h2>管理者ログイン</h2>-->
<!--      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
      
<!--      <div class="field">-->
<!--        <%#= f.label :email %><br />-->
<!--        <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--      </div>-->
      
<!--      <div class="field">-->
<!--        <%#= f.label :password %><br />-->
<!--        <%#= f.password_field :password, autocomplete: "current-password" %>-->
<!--      </div>-->
      
<!--      <%# if devise_mapping.rememberable? %>-->
<!--      <div class="field">-->
<!--        <%#= f.check_box :remember_me %>-->
<!--        <%#= f.label :remember_me %>-->
<!--      </div>-->
<!--      <%# end %>-->
      
<!--      <div class="actions">-->
<!--        <%#= f.submit "Log in",class: "btn btn_secondary" %>-->
<!--      </div>-->
<!--      <%# end %>-->
      
<!--      </div>-->
      
<!--      <%#= render "admin/shared/links" %>-->
      
<!--  </div>-->
<!--</div>-->
